.product-card {
  width: 17rem;
  margin: 0.5rem;
}

mat-card-header {
  margin-bottom: 30px;
}

.profile-image {
  height: 60px;
  width: 60px;
}


.profile-content {
  margin-top: 30px;
}
